.component-login{
    border: 1px solid black;
    width: 173px;
    height: 173px;
    margin: 50px;
     
}

.usr{
    align-content: center;
    margin-left: 55px;
    margin-block-start: 5px;
    font-size: 25px;
    font-style: inherit;
}

.pas{
    align-content: center;
    margin: 5px;
    margin-block-start: 10px;
    font-size: 25px;
    font-style: inherit;
    margin-left: 28px;
}

.but{
    margin-block-start: 10px;
    margin-left: 50px;
    
}

.component-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .component-full-width {
    width: 100%;
  }